.navbar {
	background-color: orange;
	border-color:orange;	
}

.navbar > .container > div > .navbar-nav > li > a:hover {
	backgroun: none;
	color: yellow;
	font-weight: bold;
}


.navbar > .container > div > .navbar-nav > li > a:hover {
	backgroun: none;
	color: yellow;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a {
	backgroun: none;
	color: yellow;
	font-weight: bold;
}

.navbar > .container > .navbar-header > a.hover {
	backgroun: none;
	color: yellow;
	font-weight: bold;
}


textarea {
	width:100%
}